<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Example App</title>
  <link href='/styles/app.css' rel='stylesheet' />
</head>
<body>

	{{> nav}}
  {{{body}}}

  <!--
	todo: add correct script file
  <script src='/build/scripts/app.js'></script>
  -->
</body>
</html>